{% load static %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Stay Home</h1>
    <p class="lead font-weight-normal">We are here to help. We will deliver all essential goods at your doorsteps. No need for you to step out in this scorching heat amid increasing no. of Covid19 cases.   </p>
    <a class="btn btn-outline-secondary" href="tel:+91-8077966653">Just Call Us</a> or
    <a class="btn btn-outline-secondary" target="_blank" href="https://wa.me/918077966653?text=Hello!%20I%20will%20like%20to%20order%20something.%20">WhatsApp Us</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>