{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    
	<title>Pre-Go | Delivering products at your door</title>
	<link rel="icon" href='{% static "images/favicon.png" %}'></li>
	{% include 'css.html' %}

</head>
<body>
	{% include 'navbar.html' %}
	{% block data %}
	{% endblock data %}

{% include 'footer.html' %}
{% include 'js.html' %}

</body>
</html>