{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172475313-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172475313-1');
</script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    
	<title>Pre-Go | Delivering products at your door</title>
	<link rel="icon" href='{% static "images/favicon.png" %}'></li>
	{% include 'css.html' %}

</head>
<body>

	{% include 'navbar.html' %}
	{% block data %}
	{% endblock data %}

{% include 'footer.html' %}
{% include 'js.html' %}

</body>
</html>