{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172475313-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-172475313-1');
	</script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="The smart way to shop. Now you can order anything from the market and get it delivered at your doorsteps.">
    <meta name="keywords" content="delivery, delivery service, kashipur, grocery, buy grocery online, buy medicines online, delivery service in kashipur, uttarakhand, udham singh nagar, buy fruits online, buy vegetables online">
    
	<title>Pre-Go | Delivering products at your door</title>
	<link rel="icon" href='{% static "images/favicon.png" %}'></li>
	{% include 'css.html' %}

</head>
<body>
	{% include 'nav2.html' %}
	{% block data %}
	{% endblock data %}

{% include 'footer2.html' %}
{% include 'js.html' %}

</body>
</html>