{% load static %}

<div class="footer ">
	<div class="container">
		<div class="row footer-row">
			<div class="footer-blocks col-md-12">
				<div class="footer-center">
					<h1 style="margin-bottom:0px;">Pre-Go</h1>
					<p>Delivering your essentials</p>
					<!-- <ul>
						<li><a href="">About</a></li>
						<li><a href="">Team</a></li>
						<li><a href="">Services</a></li>
						<li><a href="">Help</a></li>
					</ul> -->
				<!-- <div class="footer-description">
					<h6 style="font-weight: 200">Copyright &copy 2019-2020 Sightnext Informatics Pvt. Ltd. All rights reserved.</h6>
				</div>
				<div>
					<p><a href="" style="">T&C</a> | <a href="">FAQ </a></p>
				</div> -->
				</div>
			</div>
		</div>
	</div>
</div>


