{% extends 'base2.html' %}
{% load static %}
{% block data %}
{% include 'banner.html'%}
<div class="why-block">
	<div class="container">
		<div class="why-content">
			<div class='row'>
				<h1>Simple is more efficient</h1>
			</div>
			<div class='row' style="margin:20px 0px">
				<p>
				Pre-go believes "Simple is more efficient". Therefore, no need to download a new app now. 
				You can order anything in just 3 simple steps :</p>
				<ol>
				<li class="why-steps">Call or WhatsApp us with your requirements. 
				<br>Note: You can even get a call back from us just by giving your number on our website !! 
				</li>
				<li class="why-steps">You will be assigned with a Pre-Go pilot. 
				</li>
				<li class="why-steps">Sit back and relax..... 
				</li>
				</ol>
				<p>
				Let Pre-go do all the hard work and you get the best results on your doorstep. 
				</p>
			</div>

			<div class='row' style="margin:40px 0px;">
				<h5 style="margin-bottom: 15px;">Need to choose between multiple designs, colours, brand or size ??</h5>
				<p>Don't worry, your Pre-Go pilot has got your back. By making a video call he will make sure that you get the stuff of your choice.
				</p>
			</div>
			<div class="row" style="margin-bottom:40px;">
				<h5 style="margin-bottom: 15px;">
				Out of cash??
				</h5>
				<p>
				Gone are the days when you had to rush to an ATM machine to pay in cash. Pre-Go accepts all online payment platforms like GooglePay, PhonePe, Paytm etc while maintaining no contact policy (important in current situation). 
				</p>
			</div>
			<div class='row'>
				<p>
				If you finally know "How", our services would definitely make you say " Wow"
				</p>
			</div>	
		</div>
	</div>
</div>
{% endblock data %}