{% load static %}
<nav class="site-header  py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class=" site-name-nav fs-h-1" href="{% url 'home2' %}" aria-label="Product" style="text-align: center;font-size: 35px;">
      Pre-Go
    </a>
    <a class=" d-cus d-md-inline-block" href="tel:+91-8077966653" style="padding-bottom: 3px!important;padding-top: 5px!important;"><img src="{% static 'images/whatsapp.png' %}" class="nav-item-image" >+91-8077966653</a>
    <a class=" d-cus d-md-inline-block" href="tel:+91-9837725251" style="padding-bottom: 3px!important;padding-top: 5px!important;">+91-9837725251</a>
    <a class=" d-cus d-md-inline-block" href="tel:+91-9997844044" style="padding-bottom: 3px!important;padding-top: 5px!important;">+91-9997844044</a>
  </div>
</nav>





