{% load static %}
<div class="navbar">
	<div class="container">
		<div class="row" style="width:100%;">
			<div class="nav-logo col-md-3">
				<a href="#">Pre-Go</a>
			</div>
			<div class="nav-items col-md-9">
				<ul class="nav-items-list">
					<li class="nav-item"><a href="tel:+91-9837725251"><img src="{% static 'images/whatsapp.png' %}" style="width:25px;"> +91-9837725251</a></li>
					<li class="nav-item"><a href="tel:+91-8077966653">+91-8077966653</a></li>
					<li class="nav-item"><a href="tel:+91-9997844044">+91-9997844044</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>