{% extends 'base2.html' %}
{% load static %}
{% block data %}
{% include 'banner.html'%}
<div class="why-block">
	<div class="container">
		<div class="why-content">
			<div class='row'>
				<h1>Your safety is our first concern.</h1>
			</div>
			<div class='row' style="margin:20px 0px">
				<p>All the products delivered by us will be properly sanitized. </p>
				<p>Our staff wears all the necessary equipments, required to break the spread of corona virus, as mentioned by the Government of India. Such as masks, gloves etc.</p>
				<p>Use of hand sanitizers is a must for all of our staff, before and after the delivery. </p>
				<p>We do not support cash payment as we follow a strict no contact policy. And we request our shoppers to pay through online payment options such as Google Pay, PhonePe, PayTM etc. </p>
				<h4>Stay Home Stay Safe</h4>
			</div>

			
		</div>
	</div>
</div>
{% endblock data %}