{% extends 'base2.html' %}
{% load static %}
{% block data %}
{% include 'banner.html'%}
<div class="why-block">
	<div class="container">
		<div class="why-content">
			<div class='row'>
				<h1>All your house hold work at a call away</h1>
			</div>
			<div class='row' style="margin:20px 0px">
				<p>Imagine moving things the way you always wanted to, without wasting your valueable time or energy. </p>
				<p>You and your time are very important to us. Specially, at these hard times when everyone is aware of the harmful corona( COVID 19) virus in addition to regularly increasing harsh climatic conditions year by year. </p>
				<p>Not just in the "Metros" but even in our own beloved city people need an A-Z delivery solution at their doorstep. 
				Hence, we (Pre-go) mark a new landmark in the history of our hometown by taking your priority as our responsibility.</p>
			</div>

			
		</div>
	</div>
</div>
{% endblock data %}